body {
  margin: 0;
  font-family: helvetica;
  color: white;
}

body a {
  text-decoration: none;
  color: inherit;
}

body a:hover {
  color: lavender;
}

body ul {
  list-style: none;
  padding: 0px;
}

#name {
  display: none;
}

#tagline {
  display: none;
}

nav {
  background-color: darkslategray;
  height: 60px;
  padding-top: 15px;
  text-align: center;
}

nav li {
  display: inline;
  margin: 25px;
  font-size: 30px;
}

.hero {
  background-color: turquoise;
  height: 500px;
  text-align: center;
}

.hero img {
  padding-top: 40px;
}

.hero h1 {
  font-size: 85px;
  margin: 0;
  position: relative;
  top: 30px;
}

.hero h2 {
  position: relative;
  top: 25px;
}

.technical-overview {
  height: 400px;
  color: darkslategrey;
  text-align: center;
}

.technical-overview li {
  display: inline;
}
