body {
  margin: 0;
  font-family: helvetica;
  color: white;
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    color: lavender;
  }
  ul {
    list-style: none;
    padding: 0px;
  }
}

#name {
  display: none;
}

#tagline {
  display: none;
}

nav {
  background-color: darkslategray;
  height: 60px;
  padding-top:15px;
  text-align: center;
  li {
    display: inline;
    margin: 25px;
    font-size: 30px;
  }
}

.hero {
  background-color: turquoise;
  height: 500px;
  text-align: center;
  img {
    padding-top: 40px;
  }
  h1 {
    font-size: 85px;
    margin: 0;
    position: relative;
    top: 30px;
  }
  h2 {
    position: relative;
    top: 25px;
  }
}

.technical-overview {
  height: 400px;
  color: darkslategrey;
  text-align: center;
  li {
    display: inline;
  }
}

.techncial-details {

}
