body {
  margin: 0;
  font-family: helvetica;
  color: white;
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    color: lavender;
  }
}

.nav-banner {
  background-color: darkslategray;
  height: 100px;
  nav {
    padding-top:35px;
    text-align: center;
    ul {
      list-style: none;
      padding: 0px;
    }
    li {
        display: inline;
        margin: 25px;
        font-size: 30px;
    }
  }
}

.hero-banner {
  background-color: turquoise;
  height: 500px;
  text-align: center;
  img {
    padding-top: 40px;
  }
  h1 {
    font-size: 85px;
    margin: 0;
    position: relative;
    top: 30px;
  }
  h2 {
    position: relative;
    top: 25px;
  }
}
